<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag 'shibabu.jpg' %>
  </div>

  <div id="content">
    <h1>Konnichiwa, Shibabu desu</h1>
    <p>Welcome to 12Blog</p>
    <p>Yet another RoR Blog, with cool design from <%= link_to 'Mackenzie san', 'https://twitter.com/mackenziechild', target: "_blank" %></p>
    <p>Find me in twitter at <%= link_to '@_shibabu', 'https://twitter.com/_shibabu', target: "_blank" %></p>
  </div>
</div>